<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <%- include partials/htmlhead.ejs %> 
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><i class="fa fa-btc"></i> CoinMeApp <i class="fa fa-btc"></i></h1>
        <h3>A Bitcoin and altcoin trade tracking and analysis tool built for day-traders</h3>
        <p>Login or Register with:</p>

        <p><a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a></p>
        
        <p><a href="guide/">wait, just what does this app do?</a></p>
        
    </div>

    <!-- Footer -->
    <%- include partials/footer.ejs %>
    <!-- -->

</div>
</body>
</html>
